*{
  margin: 0;
  padding: 0;
}
.feedbackContainer{
  background-color: #005761;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#feedback-form {
    width: 280px;
    margin: 0 auto;
    background-color: #fcfcfc;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #1c1b1b;
    font-family: sans-serif;
    border-radius: 5px;
  }
  
  #feedback-form * {
      box-sizing: border-box;
  }
  
  #feedback-form h2{
    text-align: center;
    margin-bottom: 30px;
  }
  
  #feedback-form input {
    margin-bottom: 15px;
  }
  
  #feedback-form input[type=text] , #feedback-form #textTag textarea{
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
    font-family: sans-serif;
  }
  
  #feedback-form label {
    color: #777;
    font-size: 0.8em;
  }

  textarea {
	height:100px;
	max-width:100%;
 }

  #feedback-form input[type=checkbox] {
    float: left;
  }
  ::placeholder { 
    color: rgb(6, 0, 5);
  }
  
  #feedback-form input:not(:checked) + #feedback-phone {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  #feedback-form #feedback-phone {
    transition: .3s;
  }
  
  #feedback-form button[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;
    
    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #207cca 0%,#9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
  }

  #feedback-form button[type=submit]:hover {
    cursor: pointer;
  }

  .message{
    height: 100px !important;
  }