/* Body styles */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  padding: 0;
}
/* Navbar styles */
#navbar {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  margin-bottom: 50px;
  background-color: #00acb1;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
#navbar h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* Form styles */
#postform {
  background-image: url(https://img.freepik.com/free-vector/teeth-dental-care-medical-background_1017-17395.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -40px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
/* Three divs styles */
#threedivs {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
}
/* Rendering box styles */
#services,
#doctors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  text-align: center;
}
.card img {
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}
.card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.image-container {
  text-align: center;
  /* width: 10%; */
}
/* Male and Stylists styles */
#getServices,
#getDoctors {
  cursor: pointer;
  position: relative;
  padding: 3px 9px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  border: 1px solid rgb(47, 128, 194);
  width: 80%;
  text-align: center;
  margin-right: 15px;
}
#getServices:before,
#getServices:after,
#getDoctors:before,
#getDoctors:after {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
#getServices:after,
#getDoctors:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid rgb(47, 128, 194);
  border-left: 5px solid rgb(47, 128, 194);
}
#getServices:before,
#getDoctors:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid rgb(47, 128, 194);
  border-right: 5px solid rgb(47, 128, 194);
}
/* Make the getServices and stylist buttons stand out more */
#getServices:hover,
#getDoctors:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: linear-gradient(45deg, #00acb1, #7fd5d8);
  transition: 0.5s;
}
/* Increase the size of the plus icon when hovering over the buttons */
#getServices:hover:before,
#getServices:hover:after,
#getDoctors:hover:before,
#getDoctors:hover:after {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
/* Add a shadow to the active button */
.active {
  background: #00acb1;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}
/* Make the add getServices and add stylist buttons look more like buttons */
#addmale,
#addstylists {
  display: inline-block;
  width: 30%;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  /* background: #ff4e50; */
  background: #005761;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.5s;
}
#addmale:hover,
#addstylists:hover {
  background: #00acb1;
  /* #005761 */
}
/* Style the edit and delete buttons */
.edit-button,
.delete-button {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  background: #fff;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s, color 0.5s;
}
.edit-button:hover {
  background: #ff4e50;
  color: #fff;
}
.delete-button:hover {
  background: #ff4e50;
  color: #fff;
}
/* Style the form container */
#postform {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Style the form headers */
h1 {
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center;
}
/* Style the form labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
/* Style the form input fields */
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}
/* Style the form submit button */
input[type="submit"] {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #ff4e50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.5s;
}
/* Style the form submit button when hovered */
input[type="submit"]:hover {
  background-color: #f9d423;
}
/* Form CSS */
#postform form input,
#postform form textarea {
  width: 90%;
  max-width: 350px;
}
/* Back to top button */
#back-to-top-button {
  position: fixed;
  /* background-color: #00acb1; */
  bottom: 20px;
  right: 20px;
  display: none;
  padding: 10px;
  background-color: rgb(245, 238, 226);
  color: black;
  font-size: small;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
#back-to-top-button:hover {
  background-color: #00acb1;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
/* Animation to the back to top button */
#back-to-top-button:hover {
  transform: translateY(-2px);
}
/* visual style to the form elements */
input[type="text"],
input[type="email"],
textarea {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="submit"] {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background-color: #333;
}
/* Make stand out more */
a {
  color: #555;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #333;
}
/* on clicking edit button, modal opens */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 80%;
}
.modal label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #444;
  font-size: 16px;
}
.modal input,
.modal textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
  color: #444;
  background-color: #f7f7f7;
}
.modal button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.modal button:hover {
  background-color: #3e8e41;
}
.modal button:last-child {
  background-color: #f44336;
}
.modal button:last-child:hover {
  background-color: #da190b;
}
.modal h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #444;
  text-align: center;
}
